    <!-- ******CONTACT******  
    <section id="contact">
        <div class="container">
                <h2 class="title  text-center">Contact Us</h2>
                <p class="intro  text-center"> Feel free to contact us if you have any questions or suggestions.</p>
                <form action="contact_process.php" method="post" class="intro text-center">
					<input type="text" name="sender_name" class="inputs" placeholder="Name">
					<br>
					<input type="text" name="sender_email" class="inputs" placeholder="Email">
					<br>
					<textarea name="sender_message" class="inputs" placeholder="Comments"></textarea>
					<br>
					
					<input type="text" name="spam_honeypot" class="spam_honeypot" placeholder="LEAVE BLANK" style="display: none">
					<input type="submit" value="Send!" class="btn btn-cta-primary">
					
				</form>
		</div>
    </section>//contact--> 
    </div>
    <div id="footer">
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <p>Designed by <a href="#">OG Web Dev</a> </p>
        </div><!--//container-->
    </footer><!--//footer-->
    </div>
    </div> 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="assets/js/main.js"></script>   
       
</body>
</html> 